@import 'styles/media.scss';

.container {
  padding: 0 1.5em;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.podcasts {
  overflow: hidden;
  width: 100%;
  flex-wrap: wrap;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &__podcast {
    margin: 2em 0.5em 0;
    display: flex;
  }
}

@include mobile {
  .podcasts {
    flex-direction: column;
  }
}
