@import 'styles/colors.scss';
@import 'styles/media.scss';

.search {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding: 0.5em;

  &__count {
    background-color: $primary;
    color: white;
    margin-right: 0.5em;
    padding: 0.2em;
    border-radius: 20%;
  }
}

.podcasts {
  overflow: hidden;
  width: 100%;
  flex-wrap: wrap;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &__podcast {
    margin: 2em 0.5em 0;
    display: flex;
  }
}

@include mobile {
  .podcasts {
    flex-direction: column;
  }
}
